@import "/style/variables.scss";

.main {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 6rem;
  margin-top: -20px;
  @media screen and (max-width: 1919px) {
    padding: 4rem;
  }
  @media screen and (max-width: 960px) {
    padding: 0rem;
  }

  .cont {
    .title {
      color: $main-color;
      z-index: 5;
      font-size: 128px;
  
      @media screen and (max-width: 1919px) {
        font-size: 96px;
      }
      @media screen and (max-width: 1279px) {
        font-size: 68px;
      }
      @media screen and (max-width: 960px) {
        font-size: 48px;
      }
      @media screen and (max-width: 639px) {
        font-size: 30px;
      }
    }
    .secondTitle {
      color: $text-color;
      z-index: 5;
      font-size: 128px;
      @media screen and (max-width: 1919px) {
        font-size: 96px;
      }
      @media screen and (max-width: 1279px) {
        font-size: 68px;
      }
      @media screen and (max-width: 960px) {
        font-size: 48px;
      }
      @media screen and (max-width: 639px) {
        font-size: 28px;
      }
      @media screen and (max-width: 419px) {
        font-size: 28px;
      }
    }
  
    .description {
      color: $text-color;
      z-index: 5;
      margin-top: 24px;
      font-size: 24px;
      @media screen and (max-width: 1279px) {
        font-size: 20px;
      }
      @media screen and (max-width: 639px) {
        font-size: 12px;
      }
    }

  }

  
}